.nav {
  background-color: #fff;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  position: relative;

  & > .logo {
    padding: 0.5rem;
    margin: 0.5rem;
    position: relative;
    z-index: 2;
  }
}

.menu-icon {
  padding: 0.5rem;
  margin: 0.5rem;
  overflow: visible;
  position: relative;
  z-index: 2;

  @include bp($desktop) {
    display: none;
  }

  & > svg {
    width: 2rem;
    height: auto;
    overflow: visible;
  }

  &__top {
    transition: all .5s ease-in-out;

    &.is-active {
      transform: translate(20%, -37%) rotate(40deg);
    }
  }

  &__middle {
    transition: all .5s ease-in-out;
  
    &.is-active {
      opacity: 0;
    }
  }

  &__bottom {
    transition: all .5s ease-in-out;
  
    &.is-active {
      transform: translate(-40%, 40%) rotate(-40deg);
    }
  }
}

.main-nav {
  background-color: #fff;
  list-style-type: none;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
  transition: opacity .5s ease-in-out, transform .5s ease-in-out;

  @include bp($desktop) {
    position: static;
    display: flex;
    width: unset;
    opacity: 1;
    visibility: visible;
    transform: none;
    transition: none;
  }
  
  & > li {
    padding: 0.5rem;
    margin: 0.5rem;
  }

  &.is-active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}